* {
  max-width: 97%;
  max-width: 960px;
  margin: 0 auto 0 auto;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

body {
  background-color: white;
}

#header {
  background-color: white;
  color: black;
}

ul.header {
  list-style-type: none;
}

h1, h2 {
  color: black;
}

h4 {
  color: rgba(0,0,0,0.6);
}

h5 {
  margin: 0;
  font-weight: bold;
  font-size: 1.2em;
  color: black;
}

/* hack for chrome/safari display of accordion */
@media screen and (min-width: 990px) {
   /*Chrome- and Safari-specific CSS here*/
  #education {
    padding-top: 8%;
  }
  #projects {
    padding-top: 14%;
  }
  #workExperience {
    padding-top: 21%;
  }
  #hobbies {

  }
}

.collapse.in {
  margin-top: 10px;
}

.sub {
  background-color: white;
  padding-top: 1px;
  padding-bottom: 1px;
}

#skillsH3 {
  color: black;
}

#topContacts {
  font-size: 1.2em;
  height: 5em;
  padding: 10px;
}

#skills {
  font-size: 1.2em;
  height: 6em;
  padding: 10px;
}

#skills > li {
  display: block;
  width: 33%;
  float: left;
  height: 30%;
}

.white-text {
  color: black;
}

.text {
  color: black;
}

hr {
  margin-top: 10px;
  height: 2px;
  border: none;
  background-color: black;
}

a {
  text-decoration: none;
  color: rgba(0,0,0,0.6);
  cursor: pointer;
}

a#collapseExp, a#collapseProj, a#collapseEdu, a#collapseHobbies {
  text-decoration: none;
  font-weight: normal;
  color: black;
  border-bottom: dotted;
  border-color: rgba(0,0,0,0.5);
}

.project-entry, .work-entry, .education-entry {
  border: 1px solid black;
  width: 80%;
  padding: 10px;
  box-shadow: 1px 1px 3px;
  margin-bottom: 15px;
}

.project-entry h5 {
  width: 65%;
  float: right;
}

.logo {
  width: 25%;
  max-width: 70px;
  margin-right: 15px;
  float: left;
}

.date-text {
  font-style: italic;
  margin: 5px;
}

.project-entry p {
  text-align: justify;
  text-indent: 10px;
}

.education-entry {
  margin-bottom: 10px;
}

/*#mapDiv h2 {
  text-decoration: none;
  color: black;
  background-color: white;
  margin-top: 0;
  margin-bottom: 0;
  padding: 20px 0 10px 15px;
}*/
/*
#map {
  display: block;
  height: 100%;
  margin: 0 5% 5% 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding: 0 0 5% 0;
}
*/